.fixed-top{
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    margin: auto;
    background-color: transparent !important;
}

.fixed-top img{
    width: 70px;
    height: 70px;
    padding: 10px;
}

.fixed-top .tamaño-letra{
    font-size: 30px;
}

.fixed-top .navbar-links{
    margin-inline-start: auto;
}

