.contacto{
    padding: 20px;
}

.informacion ul{
    list-style: none;
}

.informacion{
    margin-top: 60px;
}

.informacion i{
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
}

.formulario i{
    font-size: 15px;
}
